<h1>Courses</h1>

{{#if courses.length}}

  <div class="row">
      {{#each courses}}
    <div class="col s6 offset-3">
      <div class="card">
        <div class="card-image">
          <img src="{{img}}" alt="{{title}}">          
        </div>
        <div class="card-content">
         <span class="card-title">{{title}}</span>
          <p class="price">{{price}}</p>
        </div>
        <div class="card-action actions">
          <a href="/courses/{{id}}" target="_blank">Open course</a>
          <a href="/courses/{{id}}/edit?allow=true">Edit</a>
          <form action="/cart/add" method="POST">
            <input type="hidden" name="id" value="{{id}}">
            <button type="submit" class="btn btn-primary">Buy</button>
          </form>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

{{else}}
<p>There is no any courses yet</p>
{{/if}}